wiki/
.venv
__pycache__
node_modules/
inference/README.md
inference/dist
data/
train/touch/touch_data.jsonl
train/touch/touch_sensor_data.jsonl
train/touch/train.log
train/**/*.h5
train/touch/*.onnx
inference/public/touch_lite.onnx
