wiki/
.venv
__pycache__
node_modules/
inference/README.md
inference/dist
data/
train/touch/touch_data.jsonl
train/sensor/sensor_data.jsonl
train/touch/train.log
train/**/*.h5
train/touch/*.onnx
train/sensor/*.onnx
inference/public/touch_lite.onnx

train/sensor/plots/
